<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ get_url(path='/style.css') }}" />
  <title>Diefesson's Digital Garden</title>
</head>

<body>
  <div class="site">
    <nav class="navigation" id="navigation">
      <span class="navigation-title"><a href="/">The Garden</a></span>
      <span><a href="{{ get_url(path='@/blog/_index.md')}}">Blog</a></span>
      <span><a href="{{ get_url(path='@/think-about.md')}}">Think About</a></span>
    </nav>
    <main class="content">
      {% block content %} {% endblock content %}
    </main>
    <footer class="footer">
      <span><a href="#navigation">To the top</a></span>
    </footer>
  </div>
</body>

</html>